<% if controller_name == "events" %>
    <p>Host: <%= link_to user.name, user_path(user) %></p>
<% else %>
    <h3><%= user.name %></h3>
<% end %>

<% if controller_name == "users" && action_name == "show" %>
    <p>Name: <%= user.name %></p>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>
    <% if user.hosted_events.present? %>
        <p>Hosted Events: 
            <% user.hosted_events.each do |he| %>
                <%= link_to he.name, event_path(he) %>
                <% if he != user.hosted_events.last %>
                    &nbsp &nbsp | &nbsp &nbsp
                <% end %>
            <% end %>
        </p>
    <% end %>
    <% if user.attended_events.present? %>
        <p>Attended Events: 
            <% user.attended_events.each do |ae| %>
                <%= link_to ae.name, event_path(ae) %>
                <% if ae != user.attended_events.last %>
                    &nbsp &nbsp | &nbsp &nbsp
                <% end %>
            <% end %>
        </p>
    <% end %>
    <% if controller_name == "users" %>
        <p>
            <%= link_to "Edit", edit_user_path(user) %> 
            &nbsp &nbsp | &nbsp &nbsp 
            <%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
    <% end %>
<% end %>



