<% if action_name == "index" %>
    <h3><%= link_to location.name, location_path(location) %></h3>
<% else %>
    <h3><%= location.name %></h3>
<% end %>
<p>Address: <%= location.address %></p>
<p>City: <%= location.city %></p>
<p>State: <%= location.state %></p>
<p>Zip: <%= location.zip %></p>
<p>
    <%= link_to "Edit", edit_location_path(location) %> 
    &nbsp &nbsp | &nbsp &nbsp 
    <%= link_to "Delete", location, method: :delete, data: { confirm: "Are you sure?" } %>
</p>
<% if action_name == "index" %>
    <hr>
<% end %>


