<% if controller_name == "events" %>
    <p>Location: <%= link_to location.name, location_path(location) %></p>
<% elsif action_name == "index" %>
    <h3><%= link_to location.name, location_path(location) %></h3>
<% else %>
    <h3><%= location.name %></h3>
<% end %>



<% if action_name == "show" %>
    <p>Address: <%= location.address %></p>
    <p>City: <%= location.city %></p>
    <p>State: <%= location.state %></p>
    <p>Zip: <%= location.zip %></p>
    <% if controller_name == "locations" %>
        <p>
            <%= link_to "Edit", edit_location_path(location) %> 
            &nbsp &nbsp | &nbsp &nbsp 
            <%= link_to "Delete", location, method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
    <% end %>
<% end %>

<% if controller_name == "locations" && action_name == "index" %>
    <hr>
<% end %>


